<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href=<%= root_path %>><h1><%= t('navbar.title') %></h1></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-sm-start" id="navbarSupportedContent">
      <div class="navbar-nav my-auto gap-3">
        <div class="nav-item dropdown">
          <button class="nav-item btn-lg btn-outline dropdown-toggle" type="button" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('navbar.language') %>
            <% language = { en: 'gb', he: 'il'} %>
            <span class='fi fi-<%= language[I18n.locale] %>'></span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="btn btn-lg">
              <%= link_to "<span class='fi fi-gb'></span>".html_safe, change_locale_path(locale: 'en') %> 
              <%= link_to "English".html_safe, change_locale_path(locale: 'en') %> 
            </li>
            <li class="btn btn-lg">
              <%= link_to "<span class='fi fi-il'></span>".html_safe, change_locale_path(locale: 'he') %> 
              <%= link_to "עברית".html_safe, change_locale_path(locale: 'he') %>
            </li>
          </ul>
        </div>

        <div class="nav-item">
          <% if user_signed_in? %>
            <%= render 'shared/logout' %>
          <% else %>
            <%= render 'shared/login' %>
          <% end %>
        </div>

      </div>
    </div>    
  </div>
</nav>

