
    <div class="col-md-6">
      <div id="<%= dom_id post %>">
        <p class="paleo-hebrew">
        <%= post.title %>
        </p>

        <p class="paleo-hebrew">
        <%= post.content %>
        </p>

      </div>

    </div>


    <div class="col-md-6">
      <div id="<%= dom_id post %>">
        <p>
        <%= post.title %>
        </p>

        <p>
        <%= post.content %>
        </p>

      </div>
    </div>
