<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to t('post.edit'), edit_post_path(@post) %> |
  <%= link_to t('post.back_to'), posts_path %>

  <%= button_to t('post.delete'), @post, method: :delete %>
</div>
